@keyframes spin {
  to { -gtk-icon-transform: rotate(1turn); }
}

.bar {
  background: transparent;
  color: @dialog_bg_color;
}

.bar image {
  color: @theme_fg_color;
}

.bar-widget {
  min-width: 0;
  background: @theme_bg_color;
  border-bottom: 1px solid @dialog_bg_color;
}

/* Standard Button */
.bar button.bar-button {
  all: unset;
  padding: 4px 8px;

  background-image: linear-gradient(transparent 50%, @dialog_bg_color 50%);
  background-size: 100% 200%;
  background-position: right top;
  transition: .2s ease-out;
}

.bar button.bar-button:active image {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bar button.bar-button:hover {
  background-position: right bottom;
}

/* QS Button */
.bar button.qs-button {
    padding: 4px;
    margin: 4px;
    min-height: 16px;
}

/* Workspace Button */
.bar button.ws-button {
  min-height: 0.8rem;
  min-width: 0.8rem;
  padding: 0;
  margin: 0 4px;
  border-radius: 0.8rem;
  background: @theme_fg_color;
}

.bar button.ws-button:active,
.bar button.ws-button:hover,
.bar button.ws-current {
  min-height: 1.5rem;
}

.bar button.ws-occupied {
  background: @success_color;
}
