* {
  font-family: 'Iosevka Tonk';
}

label {
    color: @theme_fg_color;
    font-weight: bold;
}

label.header {
    font-weight: bold;
    font-size: 1.2rem;
}

/* WIDGET IMPORTS */
@import "audio.css";
@import "bar.css";
@import "clock.css";
@import "notification.css";
@import "popupwindow.css";
@import "title.css";
